@import
 url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
 *
 {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
   }
   header
   {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 40px 100px;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
h1
{
  color:rgb(248, 242, 242);
  text-transform: uppercase;
  
}
h2
{
  position: relative;
  color: rgb(248, 242, 242);

}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  mix-blend-mode: overlay;
}
.content
{
  /* position: center; */
  z-index: 10;
  font-size: 1.1em;
  color:black;
  margin: 20px 0;
  font-weight: 700;
  width: 1200px;
  height: 400px;
  letter-spacing: 2px;
  transition: 0.2s;
  text-transform: uppercase;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content:hover
{
  letter-spacing: 6px;
}
input[type=submit]
{
  display: inline-block;
  font-size: 1em;
  background:#111;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 5px;
}

input[type=text] {
    border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     background: none;
     padding: 10px 30px;
     
   }
 input[type=password]{
  border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     background: none;
     padding: 10px 30px;

    

 }


 .inputs{
  /* padding: 10px 10px; */
 }
